<div class="nav-scroller py-1 mb-2">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb bg-light">
            {{#each breadcrumbs}}
                {{#if @last}}
                    <li class="breadcrumb-item active" aria-current="page">{{name}}</li>
                {{else}}
                    <li class="breadcrumb-item"><a href="{{path}}" title="{{name}}">{{name}}</a></li>
                {{/if}}
            {{/each}}
        </ol>
    </nav>
</div>
