<div class="container-fluid px-0">
    <footer class="mag-footer">
        <div class="row mx-0">
            <div class="col-md-4">
                <ul class="list-unstyled">
                    <li><a class="text-muted btn disabled" href="#" tabindex="-1" aria-disabled="true"
                           title="Subscribe">Subscribe</a></li>
                    <li><a class="text-muted btn disabled" href="#" tabindex="-1" aria-disabled="true" title="Contact">Contact</a>
                    </li>
                    <li><a class="text-muted btn disabled" href="#" tabindex="-1" aria-disabled="true"
                           title="Submit Story">Submit Story</a></li>
                </ul>
            </div>
            <div class="col-md-4">
                <ul class="list-unstyled">
                    <li><a class="text-muted btn disabled" href="#" tabindex="-1" aria-disabled="true"
                           title="Advertising">Advertising</a></li>
                    <li><a class="text-muted btn disabled" href="#" tabindex="-1" aria-disabled="true"
                           title="Privacy Policy">Privacy Policy</a>
                    </li>
                    <li><a class="text-muted" href="/docs/Sitemap.svg" tabindex="-1" aria-disabled="true" title="Sitemap">Sitemap</a>
                    </li>
                </ul>
            </div>
            <div class="col-md-4">
                <ul class="list-unstyled">
                    <li><a class="text-muted" href="/pages/about.html" title="About">About</a></li>
                    <li><a class="text-muted btn disabled" href="#" tabindex="-1" aria-disabled="true"
                           title="Terms of Use">Terms of Use</a></li>
                    <li><a class="text-muted btn disabled" href="#" tabindex="-1" aria-disabled="true"
                           title="Help">Help</a></li>
                </ul>
            </div>
        </div>
        <div class="row border-top mx-0">
            <div class="col-md-12">
                <p>Copyright 2019, All Rights Reserved Motorhead Weekly Publications Inc.</p>
                <p>Website Design and Development by Aditya Mukhopadhyay.</p>
                <p>
                    <a href="#" title="Back to top">Back to top</a>
                </p>
            </div>
        </div>
    </footer>
</div>
