<header class="mag-header py-3">
    <div class="row flex-nowrap justify-content-between align-items-center">
        <div class="col-4 pt-1">
            <a class="text-muted btn disabled" href="#" tabindex="-1" aria-disabled="true" title="Subscribe">Subscribe</a>
        </div>
        <div class="col-4 text-center">
            <a class="mag-header-logo text-dark" href="#" title="Home">
                <img src="/img/LogoMakr_6o2mLo.png" class="img-fluid" alt="Logo">
            </a>
        </div>
        <div class="col-4 d-flex justify-content-end align-items-center">
            <a class="text-muted btn disabled" href="#" tabindex="-1" aria-disabled="true" title="Search">
                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="mx-3" role="img" viewBox="0 0 24 24" focusable="false"><title>Search</title><circle cx="10.5" cy="10.5" r="7.5"/><path d="M21 21l-5.2-5.2"/></svg>
            </a>
            <a class="btn btn-sm btn-outline-secondary disabled" href="#" tabindex="-1" aria-disabled="true" title="Sign up">Sign up</a>
        </div>
    </div>
</header>
