<div class="nav-scroller py-1 mb-2">
    <nav class="nav d-flex justify-content-between">
        <a class="p-2 text-muted" href="/" title="Home">Home</a>
        <a class="p-2 text-muted" href="/pages/motorhead/index.html" title="Motorhead Stories">Motorhead Stories</a>
        <a class="p-2 text-muted" href="/pages/manuals/index.html" title="Manuals">Manuals</a>
        <a class="p-2 text-muted" href="/pages/learn/index.html" title="Learn">Learn</a>
        <a class="p-2 text-muted" href="/pages/about.html" title="About">About</a>
    </nav>
</div>
