<aside class="col-md-4 mag-sidebar">
    <div class="p-4 mb-3 bg-light rounded">
        <h4 class="font-italic">About</h4>
        <p>
            We don't just own, but care deeply for our iron horses. We are one soul - man and machine. We are Motorhead.
        </p>
        <a href="/pages/about.html" title="About">More...</a>
    </div>

    <div class="p-4">
        <h4 class="font-italic">Archives</h4>
        <ol class="list-unstyled mb-0">
            <li><a href="#" class="btn disabled" tabindex="-1" aria-disabled="true" title="August 2019">August 2019</a></li>
            <li><a href="#" class="btn disabled" tabindex="-1" aria-disabled="true" title="July 2019">July 2019</a></li>
            <li><a href="#" class="btn disabled" tabindex="-1" aria-disabled="true" title="June 2019">June 2019</a></li>
            <li><a href="#" class="btn disabled" tabindex="-1" aria-disabled="true" title="May 2019">May 2019</a></li>
            <li><a href="#" class="btn disabled" tabindex="-1" aria-disabled="true" title="April 2019">April 2019</a></li>
            <li><a href="#" class="btn disabled" tabindex="-1" aria-disabled="true" title="March 2019">March 2019</a></li>
            <li><a href="#" class="btn disabled" tabindex="-1" aria-disabled="true" title="February 2019">February 2019</a></li>
            <li><a href="#" class="btn disabled" tabindex="-1" aria-disabled="true" title="January 2019">January 2019</a></li>
            <li><a href="#" class="btn disabled" tabindex="-1" aria-disabled="true" title="December 2018">December 2018</a></li>
            <li><a href="#" class="btn disabled" tabindex="-1" aria-disabled="true" title="November 2018">November 2018</a></li>
            <li><a href="#" class="btn disabled" tabindex="-1" aria-disabled="true" title="October 2018">October 2018</a></li>
        </ol>
    </div>

    <div class="p-4">
        <h4 class="font-italic">Social</h4>
        <ol class="list-unstyled">
            <li><a href="#" class="btn disabled" tabindex="-1" aria-disabled="true" title="Twitter">Twitter</a></li>
            <li><a href="#" class="btn disabled" tabindex="-1" aria-disabled="true" title="Facebook">Facebook</a></li>
        </ol>
    </div>
</aside><!-- /.mag-sidebar -->
