<div class="row">
    <div class="col-md-8 mag-main">
      {{breadcrumbs (array "Learn" "/pages/learn/index.html" "Men and the Science of Bullet Maintenance")}}
        <div class="mag-post">
            <h2 class="mag-post-title">Men and the Science of Bullet Maintenance</h2>
            <p class="mag-post-meta">September 1, 2019 by <a href="#" class="btn disabled" tabindex="-1"
                                                             aria-disabled="true" title="B. R. Gurunandan">B. R. Gurunandan</a></p>

            <p>Don't just love, but get to know your bullet more.</p>
            <hr>
            <p>
                Anyone can ride a two wheeler, and almost anyone can ride a Bullet. But in times of breakdown the few
                men stand out from crowds of boys. The boys are still waving hands for help from passing traffic, while
                the men are wiping fingers, problem rectified, ready to move on.
            </p>
            <p>
                The boys are skinned by sharp mechanics &amp; dealers while the men never go to mechanics for small
                jobs and routine service. For big problems, they already know the possible cause, the solution and
                approx costs. So they never get cheated; their maint-bills are surprizingly small.
            </p>
            <p>
                So where would YOU stand ? With the men or with the boys ?
            </p>
            <p>
                Don't wait for a breakdown to find out ! Just read down this page ! At the end are some assorted
                questions, pertaining to a few areas of the Bullet. A percent or two of the knowledge that makes you a
                man in the world of Bullets and motorcycles.
            </p>
            <p>
                If you find yourself stumbling on the questions below, it is very much advisable to do a bit of
                homework before you go to the highway or to a mechanic. You could become a stranded
                "damsel-in-distress" or a badly skinned "bakra" if lady-luck should be busy elsewhere !
            </p>
            <p>
                The internet is bursting with knowledge and information of all kinds, and you should be able to get
                whatever you need, given time.
                <a href="http://groups.yahoo.com/group/bulletech" target="_blank" title="Yahoo! Bulletech Group">E-groups</a>
                and clubs will help you locate it even faster.
            </p>
            <p>
                But the verification is upto you ! YOU have to judge how applicable to your Bullet are the ideas that
                work on Goldwings, figure out why one manual says "NEVER use solvent to wash the chain" while another
                says to leave the chain immersed in solvent overnight, etc, etc. Or else you are back to asking wolfish
                dealer/ mechanic for advice, or your boyish buddies for explanations. Tsk !
            </p>
            <p>
                For those of you have no time for all that, there is hope yet !
            </p>
            <p>
                If you are in Bangalore, you are in LUCK ! If you are anywhere else on Earth, don't lose hope !
            </p>
            <p>
                Encouraged by all the interest in the Bullet Course, I am making it available on CD for people who
                can't attend in person.
            </p>
            <p>
                The <strong>"Men and the Science of Bullet Maintenance"</strong> course:<br>
            </p>
            <ul>
                <li>runs you thru the essential theory in an easy-to-grasp tone,</li>
                <li>guides you through exercises to hone your practical skills,</li>
                <li>guides you in developing a feel for mechanisms,</li>
                <li>guides you in the practical aspects like replacement decisions,</li>
                <li>explains dozens of emergency-repairs you may need on tours,</li>
                <li>provides reference details for those inclined to dig deeper.</li>
            </ul>
            <p>
                With HUNDREDS of line-diagrams, photos of Bullet internals, new/ worn/ broken part comparison photos,
                failure-analyses, diagrams of mechanisms and maybe sound &amp; video-clips too. With e-mail-support
                thrown in for free. And an optional Touring-Toolkit.
            </p>
            <p>
                The cost ? Close to the annual subscription of a magazine. Could be cheaper. Or costlier. Depends on
                the demand volume. The more the copies sold, the cheaper each one will be. Be sure to pass on this lead
                to all the Bullet-eers you know !
            </p>
        </div>

        <nav class="mag-pagination">
            <a class="btn btn-outline-primary" href="/pages/learn/newbie.html" title="Older">Older</a>
            <a class="btn btn-outline-secondary disabled" href="#" tabindex="-1" aria-disabled="true" title="Newer">Newer</a>
        </nav>
    </div>
  {{load "sidebar"}}
</div>
