<div class="row">
    <div class="col-md-8 mag-main">
      {{breadcrumbs (array "Motorhead Stories" "/pages/motorhead/index.html" "RE Crusader Engine Rebuild")}}
        <div class="mag-post">
            <h2 class="mag-post-title">RE Crusader Engine Rebuild</h2>
            <p class="mag-post-meta">September 1, 2019 by <a href="#" class="btn disabled" tabindex="-1"
                                                             aria-disabled="true" title="Jack Gray">Jack Gray</a></p>

            <div class="row">
                <div class="col-md-8">
                    <p>
                        ROYAL ENFIELD'S POST‐WAR RANGE of motorcycles did not
                        include a 250cc model and it was only in 1951 that an engine of this
                        capacity was reintroduced. The Model S was for export only, but in
                        1954 the 250cc Clipper was launched and both models were then
                        offered for sale on the home market. Their engines were essentially
                        pre‐war in design ‐ a long stroke, low compression ratio and soft valve
                        timing ‐ with performance to match.
                    </p>
                </div>
                <div class="col-md-4">
                    <img src="/img/crusader1.jpg" class="img-fluid" alt="Crusader Engine">
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <p>
                        However, better things were to come and at the 1956 Earls Court show
                        a completely new design, the Crusader, was announced. The engine
                        was well over‐square with a stroke of 64.5mm and a bore of 70mm (or
                        2.751”) which it shared with the existing 350cc singles and 700cc
                        twins. Sharper valve timing with wider angle valves and a compression
                        ratio of 7.3:1 produced a brisker performance but, with heavy flywheels
                        and an inlet port of only 7/8” it was not exactly blood‐tingling.
                    </p>
                    <p>
                        Agents and customers alike demanded something better and in 1959 the
                        factory responded by introducing the Crusader Sports. Lighter
                        flywheels, a compression ratio of 8.3:1, a larger inlet valve and hotter
                        camshaft, with better valve springs and rocker gear ‐ all these factors transformed the engine's
                        performance. To match the
                        increase in speed and power, a 7” front brake was fitted and cosmetic improvements included a
                        large chrome tank, chrome
                        mudguards and rakish exhaust pipe; standard handlebars, inverted, gave the finishing touch to
                        the bike's overall sporting
                        appearance.
                    </p>
                    <p>
                        The Crusader Sports was an instant success and, over the next seven years, it formed the basis
                        of Enfield's 250cc range. In
                        1962 the Super Five, probably the first production motorcycle with a five‐speed gearbox, was
                        introduced. It featured a 9:1
                        compression ratio and 1'/ 16 ” inlet port, leading‐link forks and an old Enfield favourite, a
                        deeply valanced front mudguard
                        suspended from the sprung section of the forks. Despite the improvement in handling and weather
                        protection, the latter was as
                        unpopular as the wide rear mudguard, and by 1964 the Super Five had been removed from the range.
                        For 1962 the Crusader
                        Sports was fitted with the same rear mudguard, but in the following year this was replaced with
                        the more attractive narrow
                        chrome component.
                    </p>
                    <p>
                        Again, the factory was quick to respond to public opinion and in 1963 the Continental was added
                        to the range. Fitted with the
                        same power plant as the Super Five, the Continental sported telescopic forks (with speedo and
                        tacho in an aluminium top
                        panel), ace bars, a flyscreen, an Italian‐style humpbacked petrol tank and narrow rear mudguard.
                        The new model found favour
                        and continued, in 1964, with a standard tank in place of the humpback version.
                    </p>
                    <p>
                        In the early Sixties, the fashion for customising standard models reached new heights and many a
                        cafe racer was created by
                        bolting assorted goodies, like fibreglass tanks, sports exhausts, racing seats and rear sets,
                        onto new machines. Roger Boss, a
                        newly appointed sales manager at Royal Enfield, decided it was high time the factory produced a
                        customised machine of its
                        own. In spite of a good deal of inertia amongst members of the establishment, the Continental GT
                        (probably the first
                        customised machine to be offered as a catalogue model) was launched in 1965.
                    </p>
                    <p>
                        In parallel with the Sports model, the standard Crusader continued in touring trim and, in 1958,
                        a new 250cc Clipper was
                        added to the range. This was a cheaper model, largely put together with old stock; it had a 6”
                        front brake, a minimum of
                        chrome and was without the quickly detachable rear wheel. The Airflow, a dolphin‐type fairing,
                        was introduced in the same
                        year and was usually fitted to Clipper and Crusader models; later on, Sportsflow and Speedflow
                        versions were offered for use
                        with the sports models.
                    </p>
                    <p>
                        Throughout the years, a variety of silencers were used. In 1957, a barrel silencer with a tail
                        pipe; from 1958, a cigar‐shaped
                        unit; and, in 1962. a long, three‐part silencer with an alloy fishtail and cap. Unfortunately,
                        the cap had a tendency to fall off;
                        this was because it was fixed by a long rod through the centre of the silencer which quickly
                        corroded in the exhaust gas. In
                        1964 and 1965, following the link‐up with the group controlling Villiers all Enfield 250s but
                        the GT were fitted with Villiers
                        silencers. These knocked the performance right down and were hastily discarded by sporting
                        riders.
                    </p>
                    <p>
                        The rocker cover is secured with a single stud and nut; note that the joint face is not machined
                        but cast with a rib in it,
                        presumably to assist location of the cover gasket. If there is constant leakage at the joint,
                        place the cover on a flat surface ‐ if it
                        rocks, lap the joint face on a piece of plate glass with valve grinding paste. On early covers,
                        over tightening of the securing nut
                        could cause cracking; on the later covers, this problem was cured by putting a substantial boss
                        around the hole.
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <img src="/img/crusader2.jpg" class="img-fluid" alt="Crusader Engine">
                </div>
                <div class="col-md-8">
                    <p>
                        For the first two years of production the cylinder heed was in cast iron with a
                        copper/asbestos gasket to the barrel; oil leaks at the joint around the pushrod
                        tunnel were common. In 1959, an aluminium head was used, with a boss in
                        the pushrod tunnel and a single Allen screw helping to secure the joint.
                        From 1960 to 1961, the aluminium head was redesigned and two Allen
                        screws in the pushrod tunnel and a solid copper gasket effectively cured
                        the oil leak. The Allen screws are 1⁄4”BSF with a countersunk head, and it
                        is best to loosen them before loosening the cylinder‐head nuts.
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <p>
                        Using a countersunk head screw was not a good idea; apart from the fact that
                        the edges of the holes suffered frequent damage, the size of the socket in a
                        countersunk screw is only 5 / 32 ” diameter, compared with 3⁄8” for a cap‐headed
                        screw. The 5 / 32 ” Allen key springs under pressure and often rounds the edges of
                        the socket, so the best approach is to take a 3⁄8" diameter flat punch and give each
                        screw a hard blow. This has the effect of jarring the threads loose and slightly closing the
                        socket, making the Allen key a
                        tighter fit. If, in spite of this, the key slips in the socket, the screw head will have to be
                        drilled off‐ not as difficult as it sounds
                        ‐using a new 17 / 64 ” bit at a very low speed and preferably in a large hand-drill. To save
                        future trouble, spot face the screw hole
                        and replace with cap-headed screws.
                    </p>
                    <p>
                        After the screws, there are five head nuts to remove: four under the rocker cover and one by the
                        spark plug hole. You should
                        now be able to lift the head off. The 250 heads do not stick as badly as the Bullets and twins,
                        but a little knock with a piece of
                        wood under the exhaust port and inlet port bosses may be necessary. There are washers in the
                        recesses for the cylinder head
                        nuts, and it is best to remove them now or they may fall out when the head is being worked on.
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-8">
                    <p>
                        The rockers can be dismantled either before or after the head is removed.
                        Engines built before the middle of 1960 have one‐piece rockers working
                        in split bearing blocks, like the Bullets, each block secured with four studs
                        and the rocker cover stud screwed into the cylinder head between them.
                        They wear fairy quickly and the only satisfactory cure is to replace them.
                    </p>
                    <p>
                        From mid‐1960, the rocker housing was a one‐piece alloy casting fitted
                        with composite rockers and secured by two studs at either end, plus the
                        centre stud for the rocker cover which screws through and helps secure it.
                        The composite rockers, quieter in operation and much longer wearing than
                        the earlier type, have an 11 / 16 ” diameter spindle with the arm at each end
                        located by a flat and secured with a nut and washer.
                    </p>
                </div>
                <div class="col-md-4">
                    <img src="/img/crusader3.jpg" class="img-fluid" alt="Crusader Engine">
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <img src="/img/crusader4.jpg" class="img-fluid" alt="Crusader Engine">
                </div>
                <div class="col-md-8">
                    <p>
                        The hole in the rocker arm is “D”
                        shaped and wear can occur at this
                        point. Hold the outer rocker arms
                        in contact with the valves and
                        check the position of the inner arms;
                        they should be level. If one is higher than the other, either the metal has worn
                        off the end in contact with the valve or the D‐hole has moved round on the
                        spindle, in which case one or both will have to be renewed. The rocker bearing and
                        rocker cover stud are 26TPI and stripped threads in the alloy head are not uncommon ‐
                        best rectified with a helicoil The carburettor studs are 5 / 16 " 26TPI; the holes for the
                        oil-pipe
                        banjo bolts are already helicoiled.
                    </p>
                </div>
            </div>
        </div>

        <nav class="mag-pagination">
            <a class="btn btn-outline-secondary disabled" href="#" tabindex="-1" aria-disabled="true" title="Older">Older</a>
            <a class="btn btn-outline-secondary disabled" href="#" tabindex="-1" aria-disabled="true" title="Newer">Newer</a>
        </nav>
    </div>
  {{load "sidebar"}}
</div>
