{{load "jumbotron" (object name="about/banner")}}
<div class="row">
    <div class="col-md-12 mag-main">
        <h3 class="pb-4 mb-4 font-italic border-bottom">
            About
        </h3>
        {{breadcrumbs (array "Learn")}}

        <div class="row mb-5">
            <div class="col-md-6">
                <p>
                    We are a bunch of motorcycle enthusiasts who particularly share a passion for old, vintage models.
                    Motorheads is a group to share stories, knowledge and information about these old beauties and how to
                    keep them in prime running condition.
                </p>
                <p>
                    We adore the charm and charisma exuded by these beauties from a bygone era. We are committed to keeping
                    their legacy alive till long after they become mere museum relics.
                </p>
            </div>
            <div class="col-md-6">
                <img src="/img/british-motorcycles-vintage-motorcycles.jpg" class="img-fluid" alt="MIK CV Carburetor">
            </div>
        </div>

        <p class="lead">
            We don't just own, but deeply care for our iron horses. We are one soul - man and machine. We are Motorhead.
        </p>
    </div><!-- /.mag-main -->
</div><!-- /.row -->
