<div class="row">
    <div class="col-md-6 px-0">
        <img src="/img/1928_Harley_Davidson_Flat_Twin_WF02.jpg" class="img-fluid img-thumbnail m-1" alt="Vintage Bike">
    </div>
    <div class="col-md-6 px-0">
        <img src="/img/Vintage-Triumph-Motorcycle-copy1-450x330.jpg" class="img-fluid img-thumbnail m-1" alt="Vintage Bike">
    </div>
</div>
