<div class="row">
    <div class="col-md-8 mag-main">
        <h3 class="pb-4 mb-4 font-italic border-bottom">
            Section: Manuals
        </h3>
        {{breadcrumbs (array "Manuals")}}

        <div class="mag-post">
            <h2 class="mag-post-title">The MIK CV (Constant Velocity) Carburetor</h2>
            <p class="mag-post-meta">September 10, 2019 by <a href="#" class="btn disabled" tabindex="-1"
                                                              aria-disabled="true" title="Pete Snidal">Pete Snidal</a></p>

            <div class="row">
                <div class="col-md-4">
                    <img src="/img/cv7-2.jpg" class="img-fluid" alt="MIK CV Carburetor">
                </div>
                <div class="col-md-8">
                    <p>
                        The Constant-Velocity carburetor, found on such later models of Bullet as the Electra,
                        Electra-X,
                        Thunderbird, and New Machismo, is in many ways a notable improvement over the earlier types. It
                        is
                        set at the factory, and, since its vacuum-operated throttle slide/needle combination
                        automatically
                        compensates for altitude variations, requires no jetting changes from operation at sea level to
                        the
                        highest mountain tracks of the Himalayas. Consequently, little adjustment is required during
                        day-to-day service, nor is much really possible.
                    </p>
                    <p>
                        Except for idle adjustment, it is a "set it and forget it" kind of unit - and the factory did
                        the
                        setting! Any variations of mixture will be due to simple malfunction, caused by such things as
                        dirt
                        in the float bowl or jet circuits, or worn jet and/or needle.
                    </p>
                </div>
            </div>
            <a href="/pages/manuals/mikcv.html" title="The MIK CV (Constant Velocity) Carburetor">Continue reading</a>
        </div><!-- /.mag-post -->

        <nav class="mag-pagination">
            <a class="btn btn-outline-secondary disabled" href="#" tabindex="-1" aria-disabled="true" title="Older">Older</a>
            <a class="btn btn-outline-secondary disabled" href="#" tabindex="-1" aria-disabled="true" title="Newer">Newer</a>
        </nav>

    </div><!-- /.mag-main -->
  {{load "sidebar"}}
</div><!-- /.row -->
