<div class="row">
    <div class="col-md-6 px-0">
        <img src="/img/cvlo-2.jpg" class="img-fluid img-thumbnail m-1" alt="MIK CV Carburetor">
    </div>
    <div class="col-md-6 px-0">
        <img src="/img/cvtopoff.jpg" class="img-fluid img-thumbnail m-1" alt="MIK CV Carburetor">
    </div>
</div>
