{{load "jumbotron" (object name="manuals/mikcv/banner")}}
<div class="row">
    <div class="col-md-8 mag-main">
      {{breadcrumbs (array "Manuals" "/pages/manuals/index.html" "The MIK CV (Constant Velocity) Carburetor")}}
        <div class="mag-post">
            <h2 class="mag-post-title">The MIK CV (Constant Velocity) Carburetor</h2>
            <p class="mag-post-meta">September 10, 2019 by <a href="#" class="btn disabled" tabindex="-1"
                                                              aria-disabled="true" title="Pete Snidal">Pete Snidal</a></p>

            <div class="row">
                <div class="col-md-4">
                    <img src="/img/cv7-2.jpg" class="img-fluid" alt="MIK CV Carburetor">
                </div>
                <div class="col-md-8">
                    <p>
                        The Constant-Velocity carburetor, found on such later models of Bullet as the Electra,
                        Electra-X,
                        Thunderbird, and New Machismo, is in many ways a notable improvement over the earlier types. It
                        is
                        set at the factory, and, since its vacuum-operated throttle slide/needle combination
                        automatically
                        compensates for altitude variations, requires no jetting changes from operation at sea level to
                        the
                        highest mountain tracks of the Himalayas. Consequently, little adjustment is required during
                        day-to-day service, nor is much really possible.
                    </p>
                    <p>
                        Except for idle adjustment, it is a "set it and forget it" kind of unit - and the factory did
                        the
                        setting! Any variations of mixture will be due to simple malfunction, caused by such things as
                        dirt
                        in the float bowl or jet circuits, or worn jet and/or needle.
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-8">
                    <h3>Cleanliness Is Important</h3>
                    <p>
                        The CV carburetor is especially susceptible to dust and dirt. Consequently, the air filter
                        element must be maintained in a clean and intact condition. If in doubt, replace. The paper
                        filter element cannot be cleaned by any kind of washing or air blowing. It is designed as a
                        "throwaway" item, and it is extreme false economy to attempt to clean this item. Gently tapping
                        it on a wall or some other solid object may dislodge some dust, but once it's too dirty to see
                        the sun through, it should be replaced.
                    </p>

                    <h3>Cold-Start Enrichening</h3>
                    <p>
                        This is accomplished by pulling the enrichening button outwards. Once the engine has warmed
                        sufficiently,the button must be returned to the inward position.
                    </p>
                </div>
                <div class="col-md-4">
                    <img src="/img/cv2-2.jpg" class="img-fluid" alt="MIK CV Carburetor">
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <h3>Adjustments</h3>
                    <h4>Adjusting The Idle, or "Tick-Over" Speed</h4>
                    <p>
                        This is the speed to which the engine falls when the throttle is rolled back with the machine
                        out
                        of gear. If you plan to adjust your idle speed, first ensure you have a clean air filter
                        element.
                        Since a dirty air filter will enrichen the mixture, and its eventual cleaning or replacement
                        will
                        lean it out, clean and/or replace the air filter element before adjusting the carburetor. You
                        will
                        also want to locate the idle mixture screw on the left side of the carburetor, near the choke
                        plunger. On earlier model carburetors, this may be covered by a rubber plug. Have a screwdriver
                        ready which will fit this small screw. Then, ensure the engine is warmed to normal operating
                        temperature, and the enrichening plunger is pushed completely into the carburetor. Put the
                        machine
                        on the center stand, and with engine running, do this:
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <img src="/img/lsb2-4.jpg" class="img-fluid" alt="MIK CV Carburetor">
                </div>
                <div class="col-md-8">
                    <ol>
                        <li>
                            First ensure that the throttle cable has 1-2mm slack by adjusting the cable adjuster at the
                            carburetor end if necessary.
                        </li>
                        <li>
                            "Blip" the throttle once or twice to ensure that the throttle linkage has returned to its
                            stop.
                        </li>
                        <li>
                            Lower the idle speed to lowest possible with the idle speed throttle stop screw.
                        </li>
                        <li>
                            Now, adjust the idle mixture screw 1/4 turn at a time to increase the idle speed to the
                            highest possible. This is a fuel bleed screw, clockwise will lean the idle mixture, ccw
                            will richen it. Try going first in one direction, and if no results, return to where you
                            started and go the other way.
                        </li>
                        <li>
                            When you've reached the highest possible idle speed, lower it once again to lowest possible
                            with the throttle stop screw.
                        </li>
                        <li>
                            Repeat steps 3-6 as necessary to attain a clean, consistent idle speed.
                        </li>
                    </ol>
                </div>
            </div>
        </div>
        <div class="row">
            <h4>No changes?</h4>
            <p>
                If you find no differences with fuel mix adjustment, your idle circuit may be plugged. Remove the screw
                completely and blow the passage with WD-40 or Brake Cleaner. Count the number of 1/4 turns necessary to
                remove the screw and replace it in the same position for a starting point. (or run it in until it stops
                - use no force in bottoming this delicate needle jet screw! - counting 1/4 turns to bottom, then
                reverse the procedure when replacing.)
            </p>

            <h4>Needle Adjustment</h4>
            <p>
                A mixture needle is fitted into the throttle slide, and held in place by a spring clip as with the
                other carburetors. This makes for some adjustability over the whole range, but dismantling the
                carburetor to change the clip (and therfore needle) position takes considerable care, and is best left
                to one experienced with the CV carb. It has been pre-set at the factory, and needle adjustment is in
                fact essentially a factory or dealer operation. It should not be necessary under normal circumstances.
            </p>

            <h4>Needle Jet Replacement</h4>
            <p>
                In cases of excessive leanness, the standard O-8 jet may be replaced with a P-8. Once again, seldom
                necessary.
            </p>

            <h4>Spark Knock</h4>
            <p>
                In other sections of this manual, dealing with the conventional slide-and-needle carburetors, much
                mention is made of spark knock, or preignition, and the need for monitoring and proper carburetor
                tuning to avoid this phenomenon.
            </p>
            <p>
                The CV carburetor is self-adjusting to the full variety of operating conditions, requiring no
                day-to-day changes by the owner. Thus, spark knock, a condition which must be monitored by the owners
                of other models, is very unlikely with this carburetor. These models (Electra-X, Thunderbird, and
                Machismo, at this writing) are also equipped with Electronic ignition timing which also neither
                provides for nor requires any adjustment, except in cases of severe malfunction. Still, the curious
                owner may wish to check the section on Spark Knock - if for no other reason, just to feel happy with
                his automatic ignition and carburetion systems. If the owner of any of the CV-equipped models
                experiences Spark Knock, he should try changing to various grades and brands of fuel until the most
                satisfactory is found. In some cases, blending of more than one grade/brand of fuel may yield the best
                results. Generally, the cheaper the fuel, the more likely is spark knock. The AVL engines use a 8.5:1
                Compression Ratio, and thus require higher-equality fuel than other Bullet models. In some limited
                cases, moderate ping may be eliminated by the only means available for retarding ignition timing, which
                is increasing the spark plug gap - within reasonable limits. (nb: this only affects the Electronic
                Ignition found on these models, and max plug gap should not exceed .025-.030"/.6-.7mm)
            </p>
        </div>

        <nav class="mag-pagination">
            <a class="btn btn-outline-secondary disabled" href="#" tabindex="-1" aria-disabled="true" title="Older">Older</a>
            <a class="btn btn-outline-secondary disabled" href="#" tabindex="-1" aria-disabled="true" title="Newer">Newer</a>
        </nav>
    </div>
  {{load "sidebar"}}
</div>
