<div class="row">
    <div class="col-md-8 mag-main">
        <h3 class="pb-4 mb-4 font-italic border-bottom">
            Section: Motorhead Stories
        </h3>
        {{breadcrumbs (array "Motorhead Stories")}}

        <div class="mag-post">
            <h2 class="mag-post-title">RE Crusader Engine Rebuild</h2>
            <p class="mag-post-meta">September 1, 2019 by <a href="#" class="btn disabled" tabindex="-1"
                                                             aria-disabled="true" title="Jack Gray">Jack Gray</a></p>

            <div class="row">
                <div class="col-md-8">
                    <p>
                        ROYAL ENFIELD'S POST‐WAR RANGE of motorcycles did not
                        include a 250cc model and it was only in 1951 that an engine of this
                        capacity was reintroduced. The Model S was for export only, but in
                        1954 the 250cc Clipper was launched and both models were then
                        offered for sale on the home market. Their engines were essentially
                        pre‐war in design ‐ a long stroke, low compression ratio and soft valve
                        timing ‐ with performance to match.
                    </p>
                </div>
                <div class="col-md-4">
                    <img src="/img/crusader1.jpg" class="img-fluid" alt="Crusader Engine">
                </div>
            </div>
            <a href="/pages/motorhead/crusader.html" title="RE Crusader Engine Rebuild">Continue reading</a>
        </div><!-- /.mag-post -->

        <nav class="mag-pagination">
            <a class="btn btn-outline-secondary disabled" href="#" tabindex="-1" aria-disabled="true" title="Older">Older</a>
            <a class="btn btn-outline-secondary disabled" href="#" tabindex="-1" aria-disabled="true" title="Newer">Newer</a>
        </nav>

    </div><!-- /.mag-main -->
  {{load "sidebar"}}
</div><!-- /.row -->
