<div class="row">
    <div class="col-md-8 mag-main">
      {{breadcrumbs (array "Learn" "/pages/learn/index.html" "Newbie Exercise!")}}
        <div class="mag-post">
            <h2 class="mag-post-title">Newbie Exercise!</h2>
            <p class="mag-post-meta">August 23, 2019 by <a href="#" class="btn disabled" tabindex="-1"
                                                           aria-disabled="true" title="B. R. Gurunandan">B. R. Gurunandan</a></p>

            <p>
                The theory usually (not always!) goes down well, but when we try to put it
                into practice, unexpected things go wrong, wrecking our confidence or
                trying our patience. This is an inescapable part of life, but we can
                certainly reduce the instances or their intensities. By being in a
                position to recognise the danger-signals before the disaster actually
                arrives. Here, an ounce of "principles/theory" is worth a ton of
                "how-to" manuals. So let us make a small beginning towards that big
                goal!
            </p>

            <h3>FASTENERS</h3>
            <p>
                No doubt, there is NOBODY here who hasn't tightened a screw/bolt/nut in
                their lives! But how many would believe me if I said it is an art &amp;
                science? Some of you are chuckling!! It is those that this part is
                aimed at!
            </p>
            <p>

            </p>
            You might have got a whiff or suspicion when I mentioned
            "torque-wrench" in an earlier part. I still stand by my statement that
            they are unnecessary (infact, they are very much "passe" in the
            Advanced Engineering World, but that is a long story) but the fact
            remains that there is MUCH more to the simple act of tightening a
            fastner than we realise. No, I am not going into the definations and
            formulae here, we will restrict ourselves to parts we need.
            <p>
                That is best done, like riding a bicycle, by actually doing it:
            </p>
            <ul>
                <li>
                    Go and buy a couple dozen of cheap fastners, say M8 nuts and bolts, and a few
                    washers.
                </li>
                <li>
                    Find a firmly anchored plate or place where you can fit and tighen one. If you
                    look carefully, there will be many places in the house.
                </li>
                <li>
                    Get a box spanner with 2 sizes of tommy-bars, and/or a ring/C spanner with
                    "extension-tube".
                </li>
                <li>
                    With each of the tools, tighten the nuts till the threads break! Yes, that
                    is why I said cheap fastners. And 2 dozen is not a magic number, you
                    may get the point with the very first one, or else even after 2doz you
                    may still go and strip the threads of the sparkplug hole one day. (I
                    take absolutely no responibility for that!) *As you tighten,
                    concentrate on the "feel".
                </li>
                <li>
                    Observe the difference in the fit between different nut-bolt pairs. (Another
                    reason for specifying cheap fastners!)
                </li>
                <li>
                    Observe the effect of a drop of oil on a fastner tight due to tolerance as
                    opposed to one tight due to rust.(Now you begin to understand why
                    torque-wrenches are not such a great idea!)
                </li>
                <li>
                    Observe the springiness when you relax the pressure while tightening the nut
                    which has already "bottomed". *Observe the reduction of this
                    springiness as you tighten even further.
                </li>
                <li>
                    Observe the reduction of this effect (the springiness NOT reducing so much) if
                    there are two greased face-to-face washers below the nut.<br>
                    (Washers are often not symmetric as they are punched from sheet; burred
                    side is back, other the face) OK, now that we are in neck-deep, observe
                    that the corners of the nuts are chamfered. Guess why! By now you are
                    convinced that torque wrenches are a waste of time and money!!! The
                    thing to measure is extension of bolt, not resistance to turning of
                    nut, as we are aiming at joint-clamping pressure, not nut-tightness
                    which is not really a measure of joint clamping. This you have just
                    tried &amp; seen for yourself; I won't labour the point.
                </li>
                <li>
                    From a practical viewpoint, it is the reduction of springiness before the
                    thread snaps that you should observe and learn to recognise.
                </li>
                <li>
                    The matter is complicated by the springiness of the assembly we are
                    clamping in real-life; here there is none. But the feeling is not too
                    different.
                </li>
                <li>
                    By the time you are thru with breaking a few, you will be able to predict
                    within half a turn the breaking point!
                </li>
                <li>
                    Stop at various points short of breaking and examine the damage to threads (if
                    you are really getting curious and engrossed!)
                </li>
                <li>
                    Don't get over-confident, but if you do this exercise right, you may
                    not spoil any threads on your bike.
                </li>
                <li>
                    Until you get round to actually doing the above, remember this: The
                    most common trap which causes broken fastners is because people try to
                    align the bolt/screw with another; to make the slot/face vertical or
                    horrizontal, etc. Now that you know it, it should be easy to avoid?
                </li>
            </ul>
            <p>
                Remember another thing: fastners are primarily tightened to clamp the
                assembly, not to prevent them from loosening! There are various other
                ways of preventing them coming loose and falling off. Split-pins,
                spring-washers, anaerobic-sealants (loktite/anabond), lock-nuts,
                nylock-nuts, tabbed-washers, etc. All this is quite interesting to
                learn, and very useful to know! Maybe this is a good time to do
                something about it?
            </p>
        </div>

        <nav class="mag-pagination">
            <a class="btn btn-outline-secondary disabled" href="#" tabindex="-1" aria-disabled="true" title="Older">Older</a>
            <a class="btn btn-outline-primary" href="/pages/learn/bullet.html" title="Newer">Newer</a>
        </nav>
    </div>
  {{load "sidebar"}}
</div>
