<div class="row">
    <div class="col-md-6 px-0">
        <h1 class="display-4 font-italic">The MIK CV (Constant Velocity) Carburetor</h1>
        <p class="lead my-3">
            The Constant-Velocity carburetor, found on such later models of Bullet as the Electra,
            Electra-X, Thunderbird, and New Machismo, is in many ways a notable improvement over the earlier types.
            It is set at the factory, and, since its vacuum-operated throttle slide/needle combination automatically
            compensates for altitude variations, requires no jetting changes...
        </p>
        <p class="lead mb-0"><a href="/pages/manuals/mikcv.html" class="text-white font-weight-bold" title="The MIK CV (Constant Velocity) Carburetor">Continue reading...</a></p>
    </div>
    <div class="col-md-6 px-0">
        <div id="bannerCarousel" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
                <li data-target="#bannerCarousel" data-slide-to="0" class="active"></li>
                <li data-target="#bannerCarousel" data-slide-to="1"></li>
            </ol>
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="/img/cvlo-2.jpg" class="d-block w-100 mx-auto" alt="MIK CV Carburetor">
                </div>
                <div class="carousel-item">
                    <img src="/img/cvtopoff.jpg" class="d-block w-100 mx-auto" alt="MIK CV Carburetor">
                </div>
            </div>
            <a class="carousel-control-prev" href="#bannerCarousel" role="button" data-slide="prev" title="Previous">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#bannerCarousel" role="button" data-slide="next" title="Next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
    </div>
</div>
