<div class="row mb-2">
    <div class="col-md-6">
        <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
            <div class="col p-4 d-flex flex-column position-static">
                <strong class="d-inline-block mb-2 text-primary">Editorial</strong>
                <h3 class="mb-0">Ignition!</h3>
                <div class="mb-1 text-muted">Sep 12</div>
                <p class="card-text mb-auto">
                    Who needs a diesel?<br>
                    Recently I’ve been overhauling my own QL...
                </p>
                <a href="#" class="btn disabled" tabindex="-1" aria-disabled="true" title="Ignition!">Continue reading</a>
            </div>
            <div class="col-auto d-none d-lg-block">
                <img src="/img/plug_plain_16.gif" class="bd-placeholder-img" width="200" height="250" alt="Ignition" role="img" aria-label="Placeholder: Thumbnail">
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
            <div class="col p-4 d-flex flex-column position-static">
                <strong class="d-inline-block mb-2 text-success">Motorhead Story</strong>
                <h3 class="mb-0">RE Crusader Engine Rebuild</h3>
                <div class="mb-1 text-muted">Sep 11</div>
                <p class="mb-auto">
                    Royal Enfield's post‐war range of motorcycles...
                </p>
                <a href="/pages/motorhead/crusader.html" title="RE Crusader Engine Rebuild">Continue reading</a>
            </div>
            <div class="col-auto d-none d-lg-block">
                <img src="/img/crusader1.jpg" class="bd-placeholder-img" width="200" height="250" alt="Crusader" role="img" aria-label="Placeholder: Thumbnail">
            </div>
        </div>
    </div>
</div>
