{{load "jumbotron" (object name="home/banner")}}
{{load "home/featured"}}
<div class="row">
    <div class="col-md-8 mag-main">
        <h3 class="pb-4 mb-4 font-italic border-bottom">
            From the Firehose
        </h3>

        <div class="mag-post">
            <h2 class="mag-post-title">Men and the Science of Bullet Maintenance</h2>
            <p class="mag-post-meta">
                September 1, 2019 by <a href="#" class="btn disabled" tabindex="-1"
                                        aria-disabled="true" title="B. R. Gurunandan">B. R. Gurunandan</a>
            </p>

            <p>Don't just love, but get to know your bullet more.</p>
            <hr>
            <p>
                Anyone can ride a two wheeler, and almost anyone can ride a Bullet. But in times of breakdown the few
                men stand out from crowds of boys. The boys are still waving hands for help from passing traffic, while
                the men are wiping fingers, problem rectified, ready to move on.
            </p>
            <p>
                The boys are skinned by sharp mechanics &amp; dealers while the men never go to mechanics for small
                jobs and routine service. For big problems, they already know the possible cause, the solution and
                approx costs. So they never get cheated; their maint-bills are surprizingly small.
            </p>
            <p>
                So where would YOU stand ? With the men or with the boys ?
            </p>
            <a href="/pages/learn/bullet.html" title="Men and the Science of Bullet Maintenance">Continue reading</a>
        </div><!-- /.mag-post -->

        <div class="mag-post">
            <h2 class="mag-post-title">Newbie Exercise!</h2>
            <p class="mag-post-meta">
                August 23, 2019 by <a href="#" class="btn disabled" tabindex="-1"
                                      aria-disabled="true" title="B. R. Gurunandan">B. R. Gurunandan</a>
            </p>

            <p>
                The theory usually (not always!) goes down well, but when we try to put it
                into practice, unexpected things go wrong, wrecking our confidence or
                trying our patience. This is an inescapable part of life, but we can
                certainly reduce the instances or their intensities. By being in a
                position to recognise the danger-signals before the disaster actually
                arrives. Here, an ounce of "principles/theory" is worth a ton of
                "how-to" manuals. So let us make a small beginning towards that big
                goal!
            </p>
            <a href="/pages/learn/newbie.html" title="Newbie Exercise!">Continue reading</a>
        </div><!-- /.mag-post -->

        <nav class="mag-pagination">
            <a class="btn btn-outline-secondary disabled" href="#" tabindex="-1" aria-disabled="true" title="Older">Older</a>
            <a class="btn btn-outline-secondary disabled" href="#" tabindex="-1" aria-disabled="true" title="Newer">Newer</a>
        </nav>

    </div><!-- /.mag-main -->
  {{load "sidebar"}}
</div><!-- /.row -->
